<ion-view title="Meu Perfil" id="page1">
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-create" ui-sref="menu.editarPerfil()"></button>
  </ion-nav-buttons>
  <ion-content padding="false" scroll="false" class="has-header">
    <div id="meuPerfil-container3" class="top-container">
      <div class="img-contain">
        <img ng-src="{{imgPerfil}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <h2 id="meuPerfil-heading5" style="color:#000000;font-weight:300; text-align:center;">{{usuarioNome}}</h2>
    <ion-list id="meuPerfil-list7">
      <ion-item class="item-icon-left" id="meuPerfil-list-item8">
        <i class="icon ion-leaf"></i>{{usuarioNascimento}}</ion-item>
      <ion-item class="item-icon-left" id="meuPerfil-list-item7">
        <i class="icon ion-email"></i>{{usuarioEmail}}</ion-item>
      <ion-item class="item-icon-left" id="meuPerfil-list-item9">
        <i class="icon ion-iphone"></i>{{usuarioCelular | brPhoneNumber}}</ion-item>
    </ion-list>
  </ion-content>
</ion-view>