<ion-view id="pagePresencaAluno">
    <ion-nav-title>{{materiaEscolhida}}</ion-nav-title>
    <ion-nav-buttons side="right" class="has-header">
        <button class="button button-icon icon ion-checkmark-round" ng-click="enviarPresenca()"></button>
    </ion-nav-buttons>
    <div class="bar bar-subheader">
        <h2 class="title">{{today}}</h2>
    </div>
    <ion-content padding="true" class="has-header" style="margin-top:12%;">
        <ion-list>
            <ion-checkbox ng-repeat="aluno in listaDeAlunos" class="item item-avatar item-checkbox-right" ng-model="aluno.checado">
                <img src="img/q1szUiFXSw6qNm6WvncI_eG3nOGIZSnGIMROFgK7n_students.png" ng-src="{{aluno.imgProfile}}">
                <h2>{{aluno.Nome}}</h2>
                <p>{{aluno.Email}}</p>
            </ion-checkbox>
        </ion-list>
    </ion-content>
</ion-view>